<div class="row m-3">
    <div class="heading-text">ArtDomain</div>
    {% for profile in profiles %}
        <div class="col-lg-2 col-md-6 col-sm-12">
            <div class="article-card">
                <div class="image-section">
                    <a href="{% url 'journalist_profile' profile.username %}">
                        <img style="height: 226px;" src="{{ profile.profile_picture.url }}" alt="{{ profile.username }}"
                            title="{{ profile.username }}" loading="lazy" class="article-image" />
                    </a>
                    <div class="content-section items_background">
                        <a href="{% url 'journalist_profile' profile.username %}" class="article-tag">
                            {{ profile.username }}
                        </a>
                        <a href="{% url 'journalist_profile' profile.username %}">
                            <h2 style="font-size: 11px; font-weight: 700;">{{ profile.organisation_name }}</h2>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
