<!-- tvstyle_posts.html -->
{% load static %}
<div id="tv-posts" class="tv-posts section panel overflow-hidden bg-gray-800 text-white uc-dark">
  <div class="section-outer panel py-4 sm:py-5">
    <div class="container max-w-xl">
      <div class="section-inner panel vstack gap-3 xl:gap-4">
        <div class="section-content">
          <div class="block-layout grid-overlay-layout">
            <div class="block-content">
              {% for category, subcategories_data in grouped_postsdata.items %}
                {% with posts=subcategories_data.posts %}
                  {% if posts|length > 0 %}
                    <div class="mb-5">
                      
                      <div class="d-flex align-items-center mb-3">
                        <h3 class="text-white mt-1">{{ category.cat_name }}</h3>
                            <a href="/{{ posts.0.slug }}" class="mx-3 fs-7 dark:text-white">
                            Show More →
                            </a>
                        </div>
                      <div class="row g-3">
                        <!-- Left: Large post -->
                        <div class="col-md-8">
                          {% with post=posts.0 %}
                          <article class="post type-post panel vstack gap-2 lg:gap-3 h-100">
                            <div class="post-media panel uc-transition-toggle overflow-hidden h-100">
                              <div class="featured-image bg-gray-25 dark:bg-gray-800 h-100 d-none md:d-block">
                                <canvas class="h-100 w-100"></canvas>
                                <img class="uc-transition-scale-up uc-transition-opaque media-cover image"
                                     src="../upload/{{ post.post_image }}"
                                     alt="{{ post.post_title }}"
                                     title = "{{ post.post_title }}"
                                     loading="lazy" />
                              </div>
                              <div class="featured-image bg-gray-25 dark:bg-gray-800 ratio ratio-16x9 d-block md:d-none">
                                <img class="uc-transition-scale-up uc-transition-opaque media-cover image"
                                     src="../upload/{{ post.post_image }}"
                                     alt="{{ post.post_title }}"
                                     title="{{ post.post_title }}"
                                     loading="lazy" />
                              </div>
                            </div>
                            <div class="position-cover bg-gradient-to-t from-black to-transparent opacity-90"></div>
                            <div class="post-header panel vstack justify-end items-start gap-1 sm:gap-2 p-2 sm:p-4 position-cover text-white">
                              <h3 class="post-title h5 sm:h4 xl:h3 m-0 text-white text-truncate-2">
                                <a class="text-none text-white" href="/{{ post.slug }}">{{ post.post_title|truncatechars:70 }}</a>
                              </h3>
                              <div class="post-meta panel hstack justify-start gap-1 fs-7 fw-medium text-white text-opacity-60 d-none md:d-flex z-1">
                                <span>{{ post.schedule_date|date:"M d, Y" }}</span>
                              </div>
                            </div>
                            <a href="/{{ post.slug }}" class="position-cover"></a>
                          </article>
                          {% endwith %}
                        </div>

                        <!-- Right: 4 small posts in 2x2 -->
                        {% if posts|length > 1 %}
                        <div class="col-md-4">
                          <div class="row g-2">
                            {% for post in posts|slice:"1:7" %}
                            <div class="col-6">
                              <article class="post type-post panel vstack gap-2">
                                <div class="post-media panel uc-transition-toggle overflow-hidden">
                                  <div class="featured-image bg-gray-25 dark:bg-gray-800 ratio ratio-1x1 sm:ratio-4x3">
                                    <img class="uc-transition-scale-up uc-transition-opaque media-cover image"
                                         src="../upload/{{ post.post_image }}"
                                         alt="{{ post.post_title }}"
                                         title="{{ post.post_title }}"
                                         loading="lazy" />
                                  </div>
                                </div>
                                <div class="position-cover bg-gradient-to-t from-black to-transparent opacity-90"></div>
                                <div class="post-header panel vstack justify-end items-start gap-1 p-2 position-cover text-white">
                                  <h3 class="post-title h6 sm:h5 lg:h6 xl:h5 m-0 text-white text-truncate-2">
                                    <a class="text-none text-white" href="/{{ post.slug }}">{{ post.post_title|truncatechars:55 }}</a>
                                  </h3>
                                  <div class="post-meta panel hstack justify-start gap-1 fs-7 fw-medium text-white text-opacity-60 d-none md:d-flex z-1">
                                    <span>{{ post.schedule_date|date:"M d, Y" }}</span>
                                  </div>
                                </div>
                                <a href="/{{ post.slug }}" class="position-cover"></a>
                              </article>
                            </div>
                            {% endfor %}
                          </div>
                        </div>
                        {% endif %}
                      </div>
                      {% if posts %}
                        <!-- <div class="text-end mt-3">
                            <a href="/{{ posts.0.slug }}" class="btn btn-outline-light btn-sm">
                            Show More →
                            </a>
                        </div> -->
                        {% endif %}

                    </div>
                  {% endif %}
                {% endwith %}
              {% endfor %}

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
