<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

<div class="share-icons-container" style="--bottom: var(--custom-bottom, 115px); --right: var(--custom-right, 0px);">
    <div class="d-flex align-items-center">
        <span role="button" data-bs-toggle="modal" data-bs-target="#shareModal-{{ posts.id }}">
            <i class="bi bi-share-fill"></i>
        </span>
        
        <div class="modal fade" id="shareModal-{{ posts.id }}" tabindex="-1"
            aria-labelledby="shareModalLabel-{{ posts.id }}" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-dark" id="shareModalLabel-{{ posts.id }}">Share this posts</h5>
                        <button type="button" class="btn-close float-right" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body position-relative">
                        <!-- Share icons container -->
                        <div class="slider-container" id="shareSlider-{{ posts.id }}">
                            <div class="slider-item">
                                <a href="https://api.whatsapp.com/send?text=Check%20this%20out!%20{{ request.build_absolute_uri }}/{{ posts.slug }}"
                                    target="_blank" class="text-success"> <i class="fab fa-whatsapp"></i>
                                </a>
                            </div>
                            <div class="slider-item">
                                <button class="btn" onclick="copyLink('{{ posts.slug }}')" title="Copy Link">
                                    <i class="fas fa-link"></i>
                                </button>

                            </div>
                                <div class="slider-item">
                                   <button href="https://www.instagram.com/dxbnews" class="btn" title="Go to Instagram" target="_blank">
                                    <i class="fab fa-instagram"></i>  <!-- Instagram Icon -->
                                    </button>
                                </div>

                            <div class="slider-item">

                                <a href="mailto:?subject=Check%20this%20out&body=Read%20here:%20{{ request.build_absolute_uri }}/{{ posts.slug }}"

                                    class="text-danger">

                                    <i class="fas fa-envelope"></i>

                                </a>

                            </div>

                            <div class="slider-item">

                                <a href="https://t.me/share/url?url={{ request.build_absolute_uri }}/{{ posts.slug }}&text=Check%20this%20out!"

                                    class="text-primary" target="_blank">
                                    <i class="fab fa-telegram"></i>
                                </a>

                            </div>

                            <div class="slider-item">
                                <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}/{{ posts.slug }}"
                                    class="text-primary" target="_blank">
                                    <i class="fab fa-facebook"></i>
                                </a>

                            </div>

                            <div class="slider-item">
                                <a href="https://www.snapchat.com/share?u={{ request.build_absolute_uri }}/{{ posts.slug }}"
                                    class="text-warning" target="_blank">
                                    <i class="fab fa-snapchat"></i>
                                </a>
                            </div>

                            <div class="slider-item">
                             <a href="https://www.linkedin.com/shareposts?mini=true&url={{ request.build_absolute_uri }}/{{ posts.slug }}" class="text-primary" target="_blank"><i class="fab fa-linkedin"></i>
                             </a>

                            </div>

                            <div class="slider-item">
                            <a href="https://twitter.com/intent/tweet?text=Check%20this%20out!%20{{ request.build_absolute_uri }}/{{ posts.slug }}" class="text-info" target="_blank"><i class="fab fa-twitter"></i>
                            </a>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>


<style>
 .slider-container{
    display: flex;
    gap: 12px;
    overflow: scroll;
 }    
.modal-backdrop {
    display: none !important;
}

.modal {
  z-index: 1050 !important;
  position: fixed; /* ensure it's on top */
  background: #00000086;
}
.slider-container::-webkit-scrollbar {
  display: none;
}

.slider-item {
   flex: 0 0 auto;
   text-align: center;
   width: 48px;
   align-items: center;
   justify-content: center;
   display: flex;
}

.slider-item i {
  font-size: 2rem;
}
</style>
