{% extends 'base.html' %}
{% load static %}
{% block body %}


  <!-- Sidenav Black Overlay-->
<!-- Events-->
<div class="tabs-news-wrapper bg-light dark:bg-gray-800 p-2 rounded-3 shadow-sm">
  <!-- Nav Tabs -->
  <nav>
  <div class="nav nav-pills justify-content-between w-100 my-3" id="nav-tab" role="tablist">

    <!-- 🟢 All News (now first and active) -->
    <button class="nav-link active custom-tab-btn" id="nav-all-tab" data-bs-toggle="tab" data-bs-target="#nav-all" role="tab" aria-controls="nav-all" aria-selected="true">
      All News
    </button>

    <button class="nav-link custom-tab-btn" id="nav-popular-tab" data-bs-toggle="tab" data-bs-target="#nav-popular" role="tab" aria-controls="nav-popular" aria-selected="false">
      Popular
    </button>

    <button class="nav-link custom-tab-btn" id="nav-newest-tab" data-bs-toggle="tab" data-bs-target="#nav-newest" role="tab" aria-controls="nav-newest" aria-selected="false">
      Recent
    </button>

    <button class="nav-link custom-tab-btn" id="nav-politics-tab" data-bs-toggle="tab" data-bs-target="#nav-politics" role="tab" aria-controls="nav-politics" aria-selected="false">
      Politics
    </button>

  </div>
</nav>


  <!-- Tabs Content -->
  <div class="tab-content" id="nav-tabContent">
    <!-- All News Tab -->
    <div class="tab-pane fade show active" id="nav-all" role="tabpanel" aria-labelledby="nav-all-tab">
      <div class=" my-4">
        <div class="block-header panel vstack items-center justify-center text-center gap-1 my-3">
              <div class=" hstack gap-1 pb-1 text-black">
                <span class="panel d-inline-block icon-narrow unicon-dot-mark text-red w-8px h-8px translate-y-px"></span>
                <h6 class="pt-2">Newsible Asia — From Billions, For Billions</h6>
              </div>
            </div>
        <video width="100%" height="auto" controls autoplay muted loop>
              <source src="{% static 'assets/videos/newsibileasia-video.mp4' %}" type="video/mp4">
              Your browser does not support the video tag.
        </video>
        <div class="panel swiper-parent" >
          <div class="swiper w-100 uc-visible-toggle"
            data-uc-swiper="items: 1; active: 1; gap: 32; speed: 500; dots: .dot-nav; next: .nav-next; prev: .nav-prev; disable-class: d-none;">
            
            <div class="swiper-nav nav-next btn btn-gray-900 p-0 border-0 w-40px h-40px rounded-circle shadow-sm position-absolute top-30 end-0 me-2 z-2 uc-hidden-hover mt-2">
              <i class="icon-1 unicon-chevron-right"></i>
            </div>
            <div class="swiper-nav nav-prev btn btn-gray-900 p-0 border-0 w-40px h-40px rounded-circle shadow-sm position-absolute top-30 start-0 ms-2 z-2 uc-hidden-hover mt-2">
              <i class="icon-1 unicon-chevron-left"></i>
            </div>
            <div class="swiper-pagination dot-nav gap-2 z-0 h-40px mt-3 position-relative text-primary"></div>
          
          </div>
          <div class="mt-3" style="display: flex; justify-content: center; align-items: center;">
                <img src="{% static 'assets/img/I-love-KL-video.gif' %}" alt="I love KL Video" class="w-100 h-auto" />
          </div>
        </div>
        
      </div>
    </div>
    <!-- Popular Tab -->
    <div class="tab-pane fade" id="nav-popular" role="tabpanel" aria-labelledby="nav-popular-tab">
      {% for news in trendpost %}
      <div class="items_background d-flex border-bottom my-3 p-2">
        <a style="display: flex;" href="/{{ news.slug }}">
          <img style="object-fit: contain !important; width: 80px; height: 60px;" src="../upload/{{ news.post_image }}" />
        </a>
        <div class="text-left col-9 ps-2">
          <h6 class="mb-1">
            <a href="/{{ news.slug }}" class="text-dark">{{ news.post_title|truncatechars:45 }}</a>
          </h6>
          <div class="meta small text-muted">
            <span>{{ news.schedule_date|date }} | {{ news.schedule_date|time }}</span>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

    <!-- Recent Tab -->
    <div class="tab-pane fade" id="nav-newest" role="tabpanel" aria-labelledby="nav-newest-tab">
      {% for news in LatestNews %}
      <div class="items_background d-flex border-bottom my-3 p-2">
        <a style="display: flex;" href="/{{ news.slug }}">
          <img style="object-fit: contain !important; width: 80px; height: 60px;" src="../upload/{{ news.post_image }}" />
        </a>
        <div class="text-left col-9 ps-2">
          <h6 class="mb-1">
            <a href="/{{ news.slug }}" class="text-dark">{{ news.post_title|truncatechars:45 }}</a>
          </h6>
          <div class="meta small text-muted">
            <span>{{ news.schedule_date|date }} | {{ news.schedule_date|time }}</span>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

    <!-- Politics Tab -->
    <div class="tab-pane fade" id="nav-politics" role="tabpanel" aria-labelledby="nav-politics-tab">
      <div id="tv-posts" class="tv-posts section panel overflow-hidden bg-gray-800 text-white uc-dark">
        <div class="section-outer panel p-2 sm:py-5">
          <div class="container max-w-xl">
            <div class="section-inner panel vstack gap-3 xl:gap-4">
              <div class="section-content">
                <div class="block-layout grid-overlay-layout">
                  <div class="block-content">
                    {% for category, subcategories_data in grouped_postsdata.items %}
                      {% with posts=subcategories_data.posts %}
                        {% if posts|length > 0 %}
                          <div class="mb-5">
                            
                            <div class="d-flex align-items-center mb-3">
                              <h3 class="text-white mt-1">{{ category.cat_name }}</h3>
                                  <a href="/{{ posts.0.slug }}" class="mx-3 fs-7 dark:text-white">
                                  Show More →
                                  </a>
                              </div>
                            <div class="row g-3">
                              <!-- Left: Large post -->
                              <div class="col-md-6 col-lg">
                                {% with post=posts.0 %}
                                <article class="post type-post panel vstack gap-2 lg:gap-3 h-100">
                                  <div class="post-media panel uc-transition-toggle overflow-hidden h-100">
                                    <div class="featured-image bg-gray-25 dark:bg-gray-800 h-100 d-none md:d-block">
                                      <canvas class="h-100 w-100"></canvas>
                                      <img class="uc-transition-scale-up uc-transition-opaque media-cover image"
                                          src="../upload/{{ post.post_image }}"
                                          alt="{{ post.post_title }}"
                                          loading="lazy" />
                                    </div>
                                    <div class="featured-image bg-gray-25 dark:bg-gray-800 ratio ratio-16x9 d-block md:d-none">
                                      <img class="uc-transition-scale-up uc-transition-opaque media-cover image"
                                          src="../upload/{{ post.post_image }}"
                                          alt="{{ post.post_title }}"
                                          loading="lazy" />
                                    </div>
                                  </div>
                                  <div class="position-cover bg-gradient-to-t from-black to-transparent opacity-90"></div>
                                  <div class="post-header panel vstack justify-end items-start gap-1 sm:gap-2 p-2 sm:p-4 position-cover text-white">
                                    <h3 class="post-title h5 sm:h4 xl:h3 m-0 text-white text-truncate-2">
                                      <a class="text-none text-white" href="/{{ post.slug }}">{{ post.post_title|truncatechars:70 }}</a>
                                    </h3>
                                    <div class="post-meta panel hstack justify-start gap-1 fs-7 fw-medium text-white text-opacity-60 d-none md:d-flex z-1">
                                      <span>{{ post.schedule_date|date:"M d, Y" }}</span>
                                    </div>
                                  </div>
                                  <a href="/{{ post.slug }}" class="position-cover"></a>
                                </article>
                                {% endwith %}
                              </div>

                              <!-- Right: 4 small posts in 2x2 -->
                              {% if posts|length > 1 %}
                              <div class="col-md-6 col-lg-4">
                                <div class="row ">
                                  {% for post in posts|slice:"1:7" %}
                                  <div class="col-6">
                                    <article class="post type-post panel vstack gap-2 mb-3">
                                      <div class="post-media panel uc-transition-toggle overflow-hidden">
                                        <div class="featured-image bg-gray-25 dark:bg-gray-800 ratio ratio-1x1 sm:ratio-4x3">
                                          <img class="uc-transition-scale-up uc-transition-opaque media-cover image"
                                              src="../upload/{{ post.post_image }}"
                                              alt="{{ post.post_title }}"
                                              loading="lazy" />
                                        </div>
                                      </div>
                                      <div class="position-cover bg-gradient-to-t from-black to-transparent opacity-90"></div>
                                      <div class="post-header panel vstack justify-end items-start gap-1 p-2 position-cover text-white">
                                        <h3 class="post-title h6 sm:h5 lg:h6 xl:h5 m-0 text-white text-truncate-2">
                                          <a class="text-none text-white" href="/{{ post.slug }}">{{ post.post_title|truncatechars:55 }}</a>
                                        </h3>
                                        <div class="post-meta panel hstack justify-start gap-1 fs-7 fw-medium text-white text-opacity-60 d-none md:d-flex z-1">
                                          <span>{{ post.schedule_date|date:"M d, Y" }}</span>
                                        </div>
                                      </div>
                                      <a href="/{{ post.slug }}" class="position-cover"></a>
                                    </article>
                                  </div>
                                  {% endfor %}
                                </div>
                              </div>
                              {% endif %}
                            </div>
                            {% if posts %}
                              <!-- <div class="text-end mt-3">
                                  <a href="/{{ posts.0.slug }}" class="btn btn-outline-light btn-sm">
                                  Show More →
                                  </a>
                              </div> -->
                              {% endif %}

                          </div>
                        {% endif %}
                      {% endwith %}
                    {% endfor %}

                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

  </div>
</div>
<!-- Events End -->

<!-- top ad -->
{% for ads in headtopad %}
<div class="p-2" role="alert">
  <!-- <button type="button" class="btn-close btn-closee" data-bs-dismiss="alert" aria-label="Close"></button> -->
  <a href="{{ads.ad_url}}" target="_blank">
    {% if ads.ad_type == 'stil' %}
    <img class="w-100" src="../upload/{{ads.ad_image}}" alt="{{ads.ad_url}}" />
    {% else %}
    <video class="w-100 topsingleads" autoplay loop muted>
      <source src="../upload/{{ads.ad_image}}" />
    </video>
    {% endif %}
  </a>
</div>
{% endfor %}
<!-- top ad end -->


<!-- tody news -->
<div class="pt-3 bg-dark">
  <div class="">
    <div class="container d-flex align-items-center justify-content-between">
      <h5 class="mb-3 ps-1 newsten-title text-white" style="color:#ffff00 !important;">Breaking News</h5>
      <p class="mb-3 line-height-1 text-white" id="dashboardDate2"></p>
    </div>


    <div class="hero-slides owl-carousel">
      {% for news in headline|slice:":5" %}
      <div class="single-hero-slide" style="background-image: url('{{ news.post_image.url }}')">
        <div class="background-shape">
          <div class="circle2"></div>
          <div class="circle3"></div>
        </div>
        <div class="slide-content h-100 d-flex align-items-end">
          <div class="container-fluid mb-3 p-2">
            <!-- <a class="bookmark-post" href="#"><i class="ti ti-bookmark"></i></a> -->
            <a class="post-catagory" href="catagory.html">{{ news.post_cat }}</a>
            <a class="post-title d-block" href="{{ news.slug }}">{{ news.post_title }}</a>
            <div class="post-meta d-flex align-items-center">
              {% if news.author %}
              <a href=""><i class="me-1 ti ti-user-circle"></i> {{ news.author.first_name|default:""|capfirst }}
                {{ news.author.last_name|default:""|capfirst }}</a>
              {% elif news.journalist %}
              <a href="{% url 'journalist_profile' news.journalist.username %}">
                <i class="me-1 ti ti-user-circle"></i>
                {{ news.journalist.first_name|default:""|capfirst }}
                {{ news.journalist.last_name|default:""|capfirst }}
              </a>
              {% else %}
              <i class="me-1 ti ti-user-circle"></i> Admin
              {% endif %}
              <!-- <span><i class="ti ti-calendar-month me-1"></i> Y{{ news.schedule_date|date:"Y-m-d" }}</span> -->
              <span><i class="me-1 ti ti-chart-bar"></i> {{ news.schedule_date|timesince }}</span>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<!-- tody news end-->






<!-- top left ad -->
{% for ads in adtl|slice:":4" %}
<div class="mb-3 p-2">
  <a href="{{ads.ad_url}}" target="_blank">
    {% if ads.ad_type == 'stil' %}
    <img class="w-100" src="../upload/{{ads.ad_image}}" alt="{{ads.ad_url}}" />
    {% else %}
    <video class="w-100" autoplay loop muted>
      <source src="../upload/{{ads.ad_image}}" />
    </video>
    {% endif %}
  </a>
</div>
{% endfor %}
<!-- top left ad end-->


<!-- ARTICLES SECTION: Mobile Only -->
<div class="">
  <div class="block-layout panel bg-light py-2 rounded shadow-sm">
    <div class="block-title text-center mb-2">
     <h5 class="mb-2 ps-1 newsten-title py-2">Top Articles</h5>
    </div>

    <div class="scroll-box-x" id="articleScroll">
      <div class="scroll-content-x">
        {% for article in Articale %}
        <div class="article-card me-3">
          <div class="post-media">
            {% if article.video_file %}
            <video preload="none" loop playsinline autoplay muted class="rounded w-100"
                   style="height:140px; object-fit:cover;">
              <source src="{{ article.video_file.url }}" type="video/mp4">
            </video>
            {% else %}
            <a href="/{{ article.slug }}" class="text-dark text-decoration-none">
            <img src="{{ article.post_image.url }}" alt="{{ article.post_title }}" title="{{ article.post_title }}"
                 loading="lazy" class="rounded w-100" style="height:140px; object-fit:cover;">
            </a>
            {% endif %}
          </div>
          <h6 class="mt-2 small text-truncate">
            <a href="/{{ article.slug }}" class="text-dark text-decoration-none">
              {{ article.post_title|truncatechars:70 }} 
            </a>
          </h6>
        </div>
        {% endfor %}

      </div>
    </div>
  </div>
</div>
<!-- ARTICLES SECTION END -->



<!-- top Right ad -->
{% for trad in adtr|slice:":4" %}
<div class="mb-3 p-2">
  <a href="{{trad.ad_url}}" target="_blank">
    {% if trad.ad_type == 'stil' %}
      <img class="w-100" src="../upload/{{trad.ad_image}}" alt="{{trad.ad_url}}" />
      {% else %}
      <video class="w-100" autoplay loop muted>
        <source src="../upload/{{trad.ad_image}}" />
      </video>
    {% endif %}
  </a>
</div>
{% endfor %}
<!-- top Right ad end-->


<!-- Section start -->
<div id="category-posts" class="category-posts section panel overflow-hidden bg-white ">
  <div class="section-outer panel p-2 sm:pb-5  ">
    <div class=""> <!-- full width -->
      <div class="section-inner mt-2">
        <div class="row gx-3 xl:gx-4 gy-6" data-uc-grid>

          {% for category, subcategories_data in grouped_postsdata2.items %}
          <div class="col-12 col-md-4 col-lg-4"> <!-- 3 per row on large screens -->
            <div class="block-layout grid-layout vstack gap-2 xl:gap-3 panel overflow-hidden ">

              <!-- Category Title -->
              <div class="block-header panel border-bottom pb-1 min-h-40px">
                <!-- <h2 class="h6 lg:h5 m-0 hstack gap-1 dark:text-white">
                 
                  <a class="post-title text-none hover:text-primary duration-150 dark:text-white"
                     href="/{{ category.cat_slug }}">{{ category.cat_name }}</a>
                </h2> -->
                    <div class="d-flex">
                      <a href="/all-news/articles" class="headline-text">
                       <h4>{{ category.cat_name }}</h4> 
                      </a>
                      
                      <!-- <h5 class=" post-title text-none hover:text-primary duration-150 dark:text-white mt-1">{{ category.cat_name }}</h5> -->
                          <!-- <a href="/all-news/articles" class="dark:text-white">
                            {% if category.image %}
                            <img src="{{ category.image.url }}" alt="{{ category.cat_name }}" class="w-100 h-auto">
                            {% else %}
                              <h4>{{ category.cat_name }}</h4>
                            {% endif %}
                          <h4>{{Category.image.url}}</h4>
                          </a> -->
                      </div>
              </div>
                     
              <div class="block-content panel vstack gap-3">

                <!-- Featured Post -->
                {% with subcategories_data.posts|first as post %}
                {% if post %}
                <div>
                  <article class="post type-post panel vstack gap-1 lg:gap-2">
                    <div class="post-media panel uc-transition-toggle overflow-hidden">
                      <div class="featured-image bg-gray-25 dark:bg-gray-800 ratio ratio-16x9">
                        <img class="uc-transition-scale-up uc-transition-opaque media-cover image"
                             src="{{ post.post_image.url }}"
                             alt="{{ post.post_title }}"
                             loading="lazy">
                      </div>
                      <a href="/{{ post.slug }}" class="position-cover"></a>
                    </div>
                    <div class="post-header panel vstack gap-1 border-bottom pb-2">
                      <div class="post-meta panel hstack justify-start gap-1 fs-7 fw-medium dark:text-white text-opacity-60  md:d-flex z-1">
                        <div>
                          <div class="post-category d-none hstack gap-narrow fw-semibold">
                            <a class="text-none hover:text-primary duration-150 text-dark"
                               href="/{{ category.cat_slug }}">{{ category.cat_name }}</a>
                          </div>
                        </div>
                        
                        <div class="md:d-block d-flex justify-content-center align-item-center">
                          <div class=" hstack gap-narrow mt-1 d-flex justify-content-center align-item-center">
                            <span>{{ post.schedule_date|date:"M j, Y" }}</span>
                            <div class="share-icons-container mx-1" style="--custom-bottom: 0px; --custom-right: 0px;">
                            {% include 'share.html' %}
                          </div>
                          </div>
                           
                        </div>
                        
                       
                      </div>
                      <h3 class="post-title h6 xl:h6 m-0 text-truncate-2 my-1 dark:text-white">
                        <a class="text-none hover:text-primary duration-150 text-dark"
                           href="/{{ post.slug }}">{{ post.post_title|truncatechars:80 }}</a>
                      </h3>
                    </div>
                  </article>
                </div>
                {% endif %}
                {% endwith %}

                <!-- Remaining Posts -->
                {% for post in subcategories_data.posts|slice:"1:4" %}
                <div>
                  <article class="post type-post panel">
                    <div class="row child-cols  border-bottom pb-2" data-uc-grid>
                      <div>
                        <div class="post-header panel vstack justify-between gap-1">
                          <h3 class="post-title h6 m-0 text-truncate-2 dark:text-white">
                            <a class="text-none hover:text-primary duration-150 text-dark"
                               href="/{{ post.slug }}">{{ post.post_title|truncatechars:60 }}</a>
                          </h3>
                          <div class="post-meta fs-7 fw-medium dark:text-white text-opacity-60">
                            <div class="post-date hstack gap-narrow ">
                              <span>{{ post.schedule_date|date:"M j, Y" }}</span>
                              <div class="share-icons-container mx-1" style="--custom-bottom: 0px; --custom-right: 0px;">
                              {% include 'share.html' %}
                            </div>
                            </div>
                            
                          </div>
                        </div>
                      </div>
                      <div class="col-auto">
                        <div class="post-media panel uc-transition-toggle overflow-hidden max-w-72px min-w-64px lg:min-w-72px">
                          <div class="featured-image bg-gray-25 dark:bg-gray-800 ratio ratio-1x1">
                            <img class="uc-transition-scale-up uc-transition-opaque media-cover image"
                                 src="{{ post.post_image.url }}"
                                 alt="{{ post.post_title }}"
                                 loading="lazy">
                          </div>
                          <a href="/{{ post.slug }}" class="position-cover"></a>
                        </div>
                      </div>
                    </div>
                  </article>
                </div>
                
                {% endfor %}
                {% with subcategories_data.posts|first as featured_post %}
                  {% if featured_post %}
                    <!-- <div class="text-end mt-3">
                      <a href="/{{ featured_post.slug }}" class="btn btn-sm btn-primary">
                        Show More →
                      </a>
                    </div> -->
                  {% endif %}
                {% endwith %}

              </div>
            </div>
          </div>
          {% endfor %}

        </div>
      </div>
    </div>
  </div>
</div>








<!-- Brand Partners -->
 <div class="bg-light">
{% include 'bp-logo.html' %}
</div>
<!-- Brand Partners End-->



<!-- Popular Tags-->
<!-- <div class="popular-tags-wrapper">
  <div class="container">
    <h5 class="mb-3 ps-2 newsten-title text-white">Popular Tags</h5>
  </div>

  <div class="container mb-5">
    
    <div class="popular-tags-list">
      {% with colors="primary,success,warning,danger,info,secondary" %}
        {% for tag in tags %}
          {% with color=forloop.counter0|stringformat:"d"|add:"0"|divisibleby:"6"|yesno:"primary,success,warning,danger,info,secondary"%}
          <a style="width: auto;" class="btn btn-{{ color }} btn-sm m-1" href="tags/{{ tag.slug }}">{{ tag.name }}</a>
          <a style="width: 30%;" class="btn btn-{{ color }} btn-sm m-1" href="tags/{{ tag.slug }}">{{ tag.name }}</a>
          {% endwith %}
        {% endfor %}
      {% endwith %}
    </div>
  </div>
</div> -->
<!-- Popular Tags end-->

<script>
const scrollBox = document.getElementById("articleScroll");
if (scrollBox) {
  let isDown = false;

  scrollBox.addEventListener("touchstart", () => {
    scrollBox.querySelector(".scroll-content-x").style.animationPlayState = "paused";
    isDown = true;
  });

  scrollBox.addEventListener("touchend", () => {
    setTimeout(() => {
      scrollBox.querySelector(".scroll-content-x").style.animationPlayState = "running";
      isDown = false;
    }, 2000); // resumes 2s after touch ends
  });
}
</script>

<style>
  .breaking-news{
    background: #0544c2;
  }
  .marquee-wrapper {
  width: 100%;
  overflow: hidden;
}

.marquee-content {
  display: inline-flex;
  white-space: nowrap;
  animation: scroll-left 10s linear infinite;
}

.marquee-content a {
  text-decoration: none;
  color: #fff;
  margin-right: 2rem;
  font-weight: 500;
}

/* Animation keyframes */
@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}


/* Mobile only */
@media (max-width: 991px) {
  .scroll-box-x {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    position: relative;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
  }

  .scroll-content-x {
    display: inline-flex;
    animation: scroll-horizontal 60s linear infinite;
  }

  .scroll-content-x:hover,
  .scroll-box-x:active {
    animation-play-state: paused; /* pause on touch or hover */
  }

  .article-card {
    display: inline-block;
    width: 180px;
    flex-shrink: 0;
    vertical-align: top;
  }

  @keyframes scroll-horizontal {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  /* Hide scrollbar for cleaner look */
  .scroll-box-x::-webkit-scrollbar {
    display: none;
  }
}

/* Desktop view: no animation */
@media (min-width: 992px) {
  .scroll-content-x {
    animation: none !important;
  }
}


</style>

{% endblock %}
